.heading{
    font-family: 'Satisfy', cursive;
}
.background{
    background-color: #1e525b;
}
body{
    background-image: url(tailwindimg/background15.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}